@charset "utf-8";
/* CSS Document */
		body,img,ul,li{
			padding: 0px;
			margin: 0px;	
		}
		 *{cursor:url(../img/光标.ico),auto;}
		#header{
			width:1150px;
			height: 50px;
			/*border: 1px solid #EA8486;*/
			margin: 0px auto;
		}
		.header{
			width: 1100px;
			height: 30px;
			/*border: 1px solid red;*/
			margin: 0px auto;
		}
		.header-left{
			width: 180px;
			height: 40px;
			/*border: 1px solid green;*/
			float: left;
			line-height: 2rem;
		}
		.header-middle{
			height: 40px;
			/*border: 1px solid green;*/
			float: left;
		}
		.header-right1{
			width: 300px;
			height: 40px;
			/*border: 1px solid #FDF7F7;*/
			float:left;
		}
		.header-right2{
			width: 50px;
			height: 40px;
			/*border: 1px solid #FDF7F7;*/
			float:right;
			line-height: 2.8rem;
		}
		.header-title{
			font-family:Microsoft YaHei;
			font-size:25px;
			font-weight: bold;
			color:#3187F3;
		}
		#nav{
			list-style: none;
			height:50px;
			line-height: 3rem;
			float: right;
			text-align: center;	
			position:fixed;
			z-index:999;
			border-radius: 0px 0px 30px 30px;
			background: #E3F2FF;
		}
		.nav-title{
			font-family:Microsoft YaHei;
			text-align:left;
			font-size:12px;
			color:#B3B3B3;	
		}
		#nav li{
			height: 20px;
			margin-left: 0px;
			float:left;
			width:120px;
		}
		a{
			font-family:SimHei;
			text-decoration:none;
			text-transform:uppercase;
			color:#424242;
		}
		a:hover{
			color:#F0BBCA;
		}
		a:active{
			color:#4175D8;
		} 
		.big1{
			width: 1150px;
			height: 600px;
			/*background-color: #E8E9B9;*/
			margin: 0px auto;	
		}
		.big1-left{
			width: 500px;
			height: 600px;
			/*background-color:#F79193;*/
			float:left;
			margin: 0 0 0 0;
		}
		.big1-left1{
			margin: 150px 50px 50px;
		}
		.big1-left1>p{
			font-family:Microsoft YaHei;
			font-size:35px;
			font-weight: bold;
		}
		.big1-right{
			width: 500px;
			height: 600px;
			/*background-color:antiquewhite;*/
			float:right;
			margin: 0 0 0 0;
		}
		.big1-right>img{
			width: 500px
		}
		.big2{
			width: 1150px;
			height: 600px;
			/*background-color: #E8E9B9;*/
			margin: 0px auto;
		}
		.big2-left{
			width: 600px;
			height: 600px;
			background-color:#00C3FF;
			float:left;
			margin: 0 0 0 0;
		}
		.big2-left1>p{
			font-family:Microsoft YaHei;
			font-size:35px;
			font-weight: bold;
			letter-spacing: 10px;
			color:#FFFFFF;
			margin: 220px 110px;
		}
		.big2-right{
			width: 500px;
			height: 600px;
			/*background-color:antiquewhite;*/
			float:right;
			margin: 0 0 0 0;
		}
		.big2-right1{
			margin: 200px 50px 150px;
		}
		.big2-right1>p{ 
			font-family:SimHei;
			font-size:12px;
			letter-spacing: 2px;
			color:#4BA4FF;
		}
		.big3{
			width: 1150px;
			height: 600px;
			/*background-color: #E8E9B9;*/
			margin: 0px auto;
		}
		.big3-left{
			width: 600px;
			height: 600px;
			background-color:#88BCFF;
			float:left;
			margin: 0 0 0 0;
		}
		.big3-left>img{
			width: 300px;
			margin: 120px 140px;
		}
		.big3-right{
			width: 500px;
			height: 600px;
			/*background-color:antiquewhite;*/
			float:right;
			margin: 0 0 0 0;
		}
		.big3-right>img{
			width: 500px;
			margin: 140px 0px;
		}
		.big4{
			width: 1150px;
			height: 600px;
			background:url(../img/解决方案/1.jpg);no-repeat:10px center;
			margin: 0px auto;
			
		}
		
		.big4-right{
			width: 400px;
			height: 200px;
			/*background-color:#ECACAD;*/
			float: right;
			margin: 300px 150px 100px;
		}
		.big4-right>p{
			font-family:SimHei;
			font-size:16px;
			letter-spacing: 2px;
			line-height:25px;
			color:#FFFFFF;	
			margin: 10px;
		}
